.header {
    display: flex;
    justify-content: space-between;
    padding-left: 25px; 
    margin-bottom: 30px;
    height: 30px;

    .tabWrapper {
        display: flex; 
        .tab {
            font-size: 14px; 
            color: #7C828A;
            margin-right: 30px;
            cursor: pointer;   
        }
        .tab:last-child{
            margin-right: 0px;
        }
        .active {
            font-weight: 700; 
            color: #002D62;
        }
    }

    .legendWrapper {
        height: 100%;
    }
}
.show {
    display: block !important;
}

.hiddenObj {
    display: none;
}