<div class="chartContainer">
    <div class="header">

        <div class="tabWrapper">
            <span id="annumTab" class="tab active" (click)="annumClick()" >Per annum</span>
            <span id="quarterTab" class="tab" (click)="quarterClick()">Per quarter</span>
        </div>
        <div id="annum-legendContainer" class="legendWrapper hiddenObj show"></div>
        <div id="quarter-legendContainer" class="legendWrapper hiddenObj"></div>
    </div>

    <div id="annumContainer" class="hiddenObj show" style="width: 100%; height: 400px;"></div>
    <div id="quarterContainer" class="hiddenObj" style="width: 100%; height: 300px;"></div>
</div>