<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142137404-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'UA-142137404-1');
      </script>
      <meta charset="utf-8">
      <title>Performance - Pentalpha Investment Management</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
      <meta name="csrf-token" content="SeZZ0RJKzqXMkvpclG77l03SnqDqe9ONZnV98MFS">
      <link rel="shortcut icon" href="" type="image/x-icon">
      <link rel="stylesheet" href="https://pentalpha.com.au/css/animate.min.css">
      <link rel="stylesheet" href="https://pentalpha.com.au/css/owl.carousel.min.css">
      <link rel="stylesheet" href="https://pentalpha.com.au/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://pentalpha.com.au/css/core.min.css">
   </head>
   <body>
      <div class="page page-sidebar page-team">
         <div class="page-container container">
            <div class="page-sidebar__left" style="z-index: 11;">
               <div class="sidebar">
                 <div class="half-width">
                   <img src="../../assets/img/logo.png" style="width: 50%;"/>
                   <table>
                     <tr>
                       <td (click)="DistributedClicked()" id ="distributeBtn" class="active">
                        <span>Distributed Income</span>
                       </td>
                     </tr>
                     <tr>
                       <td (click)="IncomeRiskClicked()" id="incomeBtn">
                        <span>Income to risk ratios</span>
                       </td>
                     </tr>
                     <tr>
                       <td (click)="TotalReturnClicked()" id = "totalReturnBtn">
                        <span>Total return</span>
                       </td>
                     </tr>
                     <tr>
                       <td (click)="MonthlyReportClicked()" id = "monthlyBtn">
                        <span>Monthly reports</span>
                       </td>
                     </tr>
                   </table>
                  </div>
                </div>
            </div>
            <div class="page-sidebar__main">
              <header class="h" style="background-color: #fff;">
                <div class="container h__container">
                  <div class="h__logo">
                      <a href="/"><img src="images/logo-dark.png" alt=""></a>
                  </div>
                  <div class="h__nav">
                      <div class="h__mobile">
                        <button type="button" class="h__mobile__btn">
                        <span></span>
                        <span></span>
                        <span></span>
                        </button>
                      </div>
                      <div class="h__nav-container">
                        <a href="/investors" class="link-back"><i class="icon icon__arrow-back"></i>Back</a>
                        <nav class="h__nav__list">
                            <a href="/" >Home</a>
                            <a  href="/team">Our team</a>
                            <a href="/about" >About us</a>
                            <a href="/performance" class=active>Performance</a>
                            <a href="/contact" >Contact</a>
                            <button type="button" class="btn btn--primary btn--small" onclick="location.href='/investors'">Investors</button>
                        </nav>
                      </div>
                  </div>
                </div>
              </header>
               <section class="main">
                  <!-- Nav tabs -->
                  <div class="tabs">
                     <!-- Tab panes -->
                     <div class="tab-content">
                        <div class="tab-pane active" id="performance">
                           <h3 class="mb-3 ml-2" id="distributed-chart">Distributed pre-tax income</h3>
                           <pre-tax-Chart 
                           [annumChartData]="annumChartData"
                           [quarterChartData]="quarterChartData"
                           ></pre-tax-Chart>

                           <div class="scroll-table-container">
                              <table class="w-100 scroll-table">
                                 <tr>
                                    <th class="primary-cell">Distribution</th>
                                    <th class="primary-cell">FY 2020</th>
                                    <th class="primary-cell">Jun-20 Qtr</th>
                                    <th class="primary-cell">Mar-20 Qtr</th>
                                    <th class="primary-cell">Dec-19 Qtr</th>
                                    <th class="primary-cell">Sep-19 Qtr</th>
                                    <th class="primary-cell">FY 2019</th>
                                    <th class="primary-cell">Jun-19 Qtr</th>
                                    <th class="primary-cell">Mar-19 Qtr</th>
                                    <th class="primary-cell">Dec-18 Qtr</th>
                                    <th class="primary-cell">Sep-18 Qtr</th>
                                    <th class="primary-cell">FY 2018</th>
                                 </tr>
                                 
                                 <tr>
                                    <td class="primary-cell">Total</td>
                                    <td class="primary-cell">7.19%</td>
                                    <td class="primary-cell">2.09%</td>
                                    <td class="primary-cell">1.75%</td>
                                    <td class="primary-cell">1.31%</td>
                                    <td class="primary-cell">1.93%</td>
                                    <td class="primary-cell">8.33%</td>
                                    <td class="primary-cell">2.78%</td>
                                    <td class="primary-cell">1.86%</td>
                                    <td class="primary-cell">1.35%</td>
                                    <td class="primary-cell">2.20%</td>
                                    <td class="primary-cell">5.73%</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">Cash</td>
                                    <td class="primary-cell">5.19%</td>
                                    <td class="primary-cell">2.09%</td>
                                    <td class="primary-cell">1.00%</td>
                                    <td class="primary-cell">1.00%</td>
                                    <td class="primary-cell">1.00%</td>
                                    <td class="primary-cell">5.72%</td>
                                    <td class="primary-cell">2.61%</td>
                                    <td class="primary-cell">1.00%</td>
                                    <td class="primary-cell">1.00%</td>
                                    <td class="primary-cell">1.00%</td>
                                    <td class="primary-cell">4.06%</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">Franking Credits
                                       <span class="tooltip-text tooltip-text-2"
                                          data-toggle="tooltip"
                                          data-placement="right"
                                          title="Franking Credits of 0.31% earned in FY2017-18 were distributed in FY2018-19. Franking Credits are recognised when (i) shares go ”ex-dividend” for Total Return purposes; and (ii) dividends are received for Distribution purposes. Reported franking credits for Total Return and Distribution therefore reflect these timing differences."
                                          ></span>
                                    </td>
                                    <td class="primary-cell">2.00%</td>
                                    <td class="primary-cell">0.00%</td>
                                    <td class="primary-cell">0.75%</td>
                                    <td class="primary-cell">0.31%</td>
                                    <td class="primary-cell">0.93%</td>
                                    <td class="primary-cell">2.61%</td>
                                    <td class="primary-cell">0.17%</td>
                                    <td class="primary-cell">0.86%</td>
                                    <td class="primary-cell">0.35%</td>
                                    <td class="primary-cell">1.20%</td>
                                    <td class="primary-cell">1.67%</td>
                                 </tr>
                              </table>
                              <br/>
                              <span style="font-size: 10px;">Equity Trustees Limited ("Equity Trustees") (ABN 46 004 031 298), AFSL 240975, is the Responsible Entity for the Pentalpha Income for Life Fund.  Equity Trustees is a subsidiary of EQT Holdings Limited (ABN 22 607 797 615), a publicly listed company on the Australian Securities Exchange (ASX: EQT). This Performance Report has been prepared by Pentalpha Investment Management Pty Ltd (“Pentalpha”), to provide you with general information only. In preparing this information, we did not take into account the investment objectives, financial situation or particular needs of any particular person. It is not intended to take the place of professional advice and you should not take action on specific issues in reliance on this information. Neither Pentalpha, Equity Trustees nor any of its related parties, their employees or directors, provide any warranty of accuracy or reliability in relation to such information or accepts any liability to any person who relies on it. Past performance is not a reliable indicator of future performance. You should obtain a copy of the Product Disclosure Statement before making a decision about whether to invest in this product.</span>
                           </div>
                           <br/>
                           <h3 class="mb-3 ml-2" id="income-tax">Income to risk ratio</h3>
                           <income-risk-ratio-chart 
                              cpId="VolatilityChart"
                              title="How much price volatility is embedded in your income?"
                              description="3-Years — 31 March 2020"
                              xField="Yield"
                              yField="Volatility"
                              [chartData]="volatilityData"
                              ></income-risk-ratio-chart>
                           <income-risk-ratio-chart 
                              cpId="DrawdownChart"
                              title="How much capital drawdown is embedded in your income?"
                              description="20 February 2020 — 23 March 2020"
                              xField="Yield"
                              yField="MaxDrawDown"
                              [chartData]="drawdownData"
                              ></income-risk-ratio-chart>
                           <div style="font-size: 12px;" class="mb-5 ml-1">Source: Pentalpha, Wheelhouse Investment Partners.</div>
                           <h3 class="mb-3 ml-1" id="total-return">Total return</h3>
                           <div class="chartContainer">
                              <div style="padding-left: 27px; padding-bottom: 18px;">
                                 <span>Total return (net of fees)</span>
                              </div>
                              <div style="padding: 18px 27px 0px 27px; border-top: 1px solid #E3E3E3">
                                 <table style="width: 100%;">
                                    <tr>
                                       <td style="border:0 !important; text-align: left;">
                                          <span style="font-size: 16px; color:#313131;">FY 2020:</span>
                                          <span style="font-size: 16px; font-weight: 700; color:#313131;padding-left: 10px;">-2.83%</span>
                                       </td>
                                       <td style="border:0 !important; text-align: center;">
                                          <span style="font-size: 16px; color:#313131;">FY 2019:</span>
                                          <span style="font-size: 16px; font-weight: 700; color:#313131;padding-left: 10px;">2.96%</span>
                                       </td>
                                       <td style="border:0 !important; text-align: right;">
                                          <span style="font-size: 16px; color:#313131;">FY 2018:</span>
                                          <span style="font-size: 16px; font-weight: 700; color:#313131;padding-left: 10px;">2.56%</span>
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                           <monthly-performance-chart
                              title="Monthly Performance (Net of Fees) & Unit Price (Cum Distribution)"
                              description="June 2017 — December 2019"
                              [chartData]="monthlyPerformanceData"
                              ></monthly-performance-chart>
                           <div class="scroll-table-container">
                              <h3 class="mb-3 mt-3">
                                 Fund Performance Net of Manager Fees & Costs
                                 <span class="tooltip-text tooltip-text-1"
                                    data-toggle="tooltip"
                                    data-placement="left"
                                    title="Fund Performance reflects the Foundation Class of unit. The performance of the Ordinary Class of unit is the same as the Foundation Class but for the fee concession of 0.20% p.a."></span>
                              </h3>
                              <table class="w-100 scroll-table">
                                 <tr>
                                    <th>Periods to <br/>31 July 2020</th>
                                    <th>Jul-20<br/>Mth %</th>
                                    <th>Jun-20<br/>Mth %</th>
                                    <th>May-20<br/>Mth %</th>
                                    <th>Apr-20<br/>Mth %</th>
                                    <th>Mar-20<br/>Mth %</th>
                                    <th>Feb-20<br/>Mth %</th>
                                    <th>Jan-20<br/>Mth %</th>
                                    <th>FYTD %</th>
                                    <th>CYTD %</th>
                                    <th>Rolling 3<br/>Mth %</th>
                                    <th>Rolling 6<br/>Mth %</th>
                                    <th>Rolling 12<br/>Mth %</th>
                                    <th>2 Years<br/>% p.a %</th>
                                    <th>3 Years<br/>% p.a %</th>
                                    <th>Inception<br/>% p.a</th>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">Income Yield</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">2.09</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">1.23</td>
                                    <td class="primary-cell">0.46</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">3.81</td>
                                    <td class="primary-cell">2.09</td>
                                    <td class="primary-cell">3.81</td>
                                    <td class="primary-cell">6.80</td>
                                    <td class="primary-cell">7.53</td>
                                    <td class="primary-cell">7.06</td>
                                    <td class="primary-cell">6.86</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">Cash Dist.</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">2.09</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">1.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">3.11</td>
                                    <td class="primary-cell">2.09</td>
                                    <td class="primary-cell">3.11</td>
                                    <td class="primary-cell">5.19</td>
                                    <td class="primary-cell">5.45</td>
                                    <td class="primary-cell">4.99</td>
                                    <td class="primary-cell">4.85</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <span class="tooltip-text tooltip-text-2"
                                          data-toggle="tooltip"
                                          data-placement="right"
                                          title="Franking Credits of 0.31% earned in FY2017-18 were distributed in FY2018-19. Franking Credits are recognised when (i) shares go ”ex-dividend” for Total Return purposes; and (ii) dividends are received for Distribution purposes. Reported franking credits for Total Return and Distribution therefore reflect these timing differences."
                                          >Frank. Credits</span>
                                    </td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.23</td>
                                    <td class="primary-cell">0.46</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.69</td>
                                    <td class="primary-cell">0.00</td>
                                    <td class="primary-cell">0.69</td>
                                    <td class="primary-cell">1.62</td>
                                    <td class="primary-cell">2.08</td>
                                    <td class="primary-cell">2.07</td>
                                    <td class="primary-cell">2.02</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <span class="tooltip-text tooltip-text-4"
                                          data-toggle="tooltip"
                                          data-placement="right"
                                          title="Total Return is calculated using the net asset value per unit (which does not include the buy/sell spread) and represents the combined income and capital returns of the Fund net of Manager Fees & Costs on a pre-tax basis compounded over the period reported, including the full value of franking credits available to the zero-cost taxpayer attributable to dividend income earned during the period. The inception date for the measurement of the Total Return of the Fund is 28 February 2017, being the date the Fund was established. N.B. For the purpose of comparison against the Fund Objective, this inception date does not apply as monies were not invested until the Fund reached a minimum account size effective 31 July 2017 following release of the PDS. You should be aware that past performance is not a reliable indicator of future performance."
                                          >Total Return</span>
                                    </td>
                                    <td class="primary-cell">-0.49</td>
                                    <td class="primary-cell">-0.11</td>
                                    <td class="primary-cell">0.41</td>
                                    <td class="primary-cell">0.52</td>
                                    <td class="primary-cell">-0.96</td>
                                    <td class="primary-cell">-2.95</td>
                                    <td class="primary-cell">-0.51</td>
                                    <td class="primary-cell">-0.49</td>
                                    <td class="primary-cell">-4.05</td>
                                    <td class="primary-cell">-0.19</td>
                                    <td class="primary-cell">-3.56</td>
                                    <td class="primary-cell">-4.02</td>
                                    <td class="primary-cell">-0.52</td>
                                    <td class="primary-cell">0.37</td>
                                    <td class="primary-cell">0.68</td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                        <h3 class="mb-3" id = "monthly-report">Monthly Reports</h3>
                        <div id="reports">
                           <div class="scroll-table-container">
                              <table width="100%" class="block-table">
                                 <tr>
                                    <th>Reports</th>
                                    <th class="d-none d-md-table-cell">Fund update</th>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report 31 July 2020.pdf" target="_ext">Pentalpha Income For Life Fund - Performance Overview - July 2020</a><br>
                                       <span class="d-md-none">July 2020</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">July 2020</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report 30 June 2020.pdf" target="_ext">Pentalpha Income For Life Fund - Performance Overview - June 2020</a><br>
                                       <span class="d-md-none">June 2020</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">June 2020</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report May 2020.pdf" target="_ext">Pentalpha Income For Life Fund - Performance Overview - May 2020</a><br>
                                       <span class="d-md-none">May 2020</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">May 2020</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report Apr 2020.pdf" target="_ext">Pentalpha Income For Life Fund - Performance Overview - April 2020</a><br>
                                       <span class="d-md-none">April 2020</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">April 2020</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/Performance Overview March 2020.pdf" target="_ext">Pentalpha Income For Life Fund - Performance Overview - March 2020</a><br>
                                       <span class="d-md-none">March 2020</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">March 2020</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report Mar 2020.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - March 2020</a><br>
                                       <span class="d-md-none">March 2020</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">March 2020</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report Feb 2020.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - February 2020</a><br>
                                       <span class="d-md-none">February 2020</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">February 2020</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report Jan 2020.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - January 2020</a><br>
                                       <span class="d-md-none">January 2020</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">January 2020</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report Dec 2019.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - December 2019</a><br>
                                       <span class="d-md-none">December 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">December 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report Nov 2019.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - November 2019</a><br>
                                       <span class="d-md-none">November 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">November 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report Oct 2019.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - October 2019</a><br>
                                       <span class="d-md-none">October 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">October 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report Sep 2019.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - September 2019</a><br>
                                       <span class="d-md-none">September 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">September 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report Aug 2019.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - August 2019</a><br>
                                       <span class="d-md-none">August 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">August 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report July 2019.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - July 2019</a><br>
                                       <span class="d-md-none">July 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">July 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report June 2019.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - June 2019</a><br>
                                       <span class="d-md-none">June 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">June 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report May 2019 Final.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - May 2019</a><br>
                                       <span class="d-md-none">May 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">May 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report April 2019 Final.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - April 2019</a><br>
                                       <span class="d-md-none">April 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">April 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report March 2019 Final.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - March 2019</a><br>
                                       <span class="d-md-none">March 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">March 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report February 2019.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - February 2019</a><br>
                                       <span class="d-md-none">February 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">February 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report January 2019 Final.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - January 2019</a><br>
                                       <span class="d-md-none">January 2019</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">January 2019</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report December 2018.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - December 2018</a><br>
                                       <span class="d-md-none">December 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">December 2018</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report November 2018.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - November 2018</a><br>
                                       <span class="d-md-none">November 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">November 2018</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report October 2018.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - October 2018</a><br>
                                       <span class="d-md-none">October 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">October 2018</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Quarterly Performance Report September 2018.pdf" target="_ext">Pentalpha Income For Life Fund - Quarterly Performance Report - September 2018</a><br>
                                       <span class="d-md-none">September 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">September 2018</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report August 2018.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - August 2018</a><br>
                                       <span class="d-md-none">August 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">August 2018</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report July 2018.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - July 2018</a><br>
                                       <span class="d-md-none">July 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">July 2018</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Quarterly Performance Report June 2018.pdf" target="_ext">Pentalpha Income For Life Fund - Quarterly Performance Report - June 2018</a><br>
                                       <span class="d-md-none">June 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">June 2018</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report May 2018.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - May 2018</a><br>
                                       <span class="d-md-none">May 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">May 2018</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report April 2018.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - April 2018</a><br>
                                       <span class="d-md-none">April 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">April 2018</td>
                                 </tr>
                                 <tr>
                                    <td class="primary-cell">
                                       <i class="icon icon__pdf"></i>
                                       <span><a href="/reports/PIFL Performance Report March 2018 - Final.pdf" target="_ext">Pentalpha Income For Life Fund - Monthly Performance Report - March 2018</a><br>
                                       <span class="d-md-none">March 2018</span>
                                       </span>
                                    </td>
                                    <td class="d-none d-md-table-cell">March 2018</td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
         <div class="page-sidebar__footer">
            <footer class="f container">
               <div class="f__copyright">
                  2019 Pentalpha All rights reserved
               </div>
               <nav class="f__nav">
                  <a href="/privacy">Privacy Policy</a>
                  <a href="/terms">Terms of Use</a>
               </nav>
            </footer>
         </div>
      </div>
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://pentalpha.com.au/js/main.min.js"></script>
      <!-- Handsontable -->
      <!-- <script src="https://pentalpha.com.au/node_modules/handsontable/dist/handsontable.full.min.js"></script>-->
   </body>
</html>