/* You can add global styles to this file, and also import other style files */
.chartContainer {
    width: 100%; 
    height: auto; 
    box-shadow: 0px 8px 30px #00000029;
    border-radius: 12px; 
    padding: 18px 0px; 
    box-sizing: border-box;
    margin-bottom: 30px;
}

.title {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    padding-left: 25px;
    color: #313131;
}

.description {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    padding-left: 25px;
    color: #7C828A;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30% !important;
    display: flex !important;
    justify-content: flex-end !important;
    flex-direction: row !important;
    padding: 0 !important;
    .half-width {
        position: relative;
        display: block;
        width: 75%;
        padding: 20px 30px 20px 0px;

        img {
            width: 50%;
            padding: 30px 0;
        }
        table {
            width: 100%;
        }
        table tr td {
            padding: 20px 0px !important;
            border-top: 1px solid #e1e1e1 !important;
            width: 100%;
            cursor: pointer;
            span {
                position: relative;
                font-size: 14px;
                color: rgb(49, 49, 49);
                font-weight: bold;
            }
        }
        table tr td:hover {
            span{
                color: rgb(0, 45, 98);
            }
        }

        table tr td.active {
            span {
                color: rgb(0, 45, 98);
                padding-left: 12px;
            }
            span:before {
                content: '';
                display: block;
                position: absolute;
                top: 7px;
                width: 6px;
                height:6px;
                border-radius: 50%;
                background-color: #FA9622;
            }
        }
    }
}